<!doctype html>
<html class="fixed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base.html}">

<th:block layout:fragment="page_content">

    <div class="row">
        <div class="col">
            <div class="card card-modern">
                <div class="card-body">
                    <div class="datatables-header-footer-wrapper">
                        <div class="datatable-header">
                            <div class="row align-items-center mb-3">
<!--                                <div class="col-12 col-lg-auto mb-3 mb-lg-0">-->
<!--                                    <a th:href="@{/create-client}" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4" th:text="#{client.add}">-->
<!--                                        + Add Client-->
<!--                                    </a>-->
<!--                                </div>-->

                                <div class="col-4 col-lg-auto pl-lg-1 mb-3 mb-lg-0">
                                    <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                        <label class="ws-nowrap mr-3 mb-0" th:text="#{gen.show}">Show:</label>
                                        <select class="form-control select-style-1 results-per-page" name="results-per-page">
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-auto col-lg-auto pl-lg-1" style="margin-left : -10px !important;">
                                    <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                        <div class="input-group">
                                            <input type="text" class="search-term form-control" name="search-term" id="search-term" th:placeholder="#{gen.search}" />
                                            <span class="input-group-append">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="bx bx-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 640px;">

                            <thead>
                                <tr>
                                    <th width="24%">Donateur</th>
                                    <th width="15%">Email</th>
                                    <th width="20%">Montant</th>
                                    <th width="20%">Date</th>
                                    <th width="9%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:if="${#lists.isEmpty(tenders.content)}">
                                    <td colspan="5" class="no-data">Nothing to show</td>
                                </tr>
                                <tr th:unless="${#lists.isEmpty(tenders.content)}" th:each="tender : ${tenders.content}">
                                    <td>
                                        <a>
                                            <strong th:text="${tender.title}">title</strong>
                                        </a>
                                    </td>
                                    <td th:text="${tender.sector}">sector</td>
<!--                                    <td th:text="${tender.amount}">tender amount</td>-->
<!--                                    <td th:text="${tender.metadata.created}">Date</td>-->
                                    <td class="badge" th:classappend="${tender.status eq 'created' ? 'warning' : tender.status eq 'confirmed' ? 'success' : 'danger'}" th:text="${#strings.toUpperCase(tender.status)}">Status</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="solid mt-5 opacity-4">
                        <div class="datatable-footer">
                            <div class="row align-items-center justify-content-between mt-3">
                                <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                    <div class="d-flex align-items-stretch">

                                    </div>
                                </div>
                                <div class="col-lg-auto text-center order-3 order-lg-2">
                                    <div class="results-info-wrapper"></div>
                                </div>
                                <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                    <div class="pagination-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end: page -->

</th:block>
</html>
